extends ../../templates/page-template
include ../../blocks/Carousel/Carousel
include ./Description/Description

block title
    title Осень

block content
    +Carousel({slides: ['../../assets/img/autumn/autumn1.jpg', '../../assets/img/autumn/autumn2.jpg', '../../assets/img/autumn/autumn3.jpg']})
    p.autumn__text="Многие отказываются от путешествий осенью думая, что будет нечем заняться: слякоть, сырость, переменчивая погода. Но все это предрассудки! Мы оборудовали Сюгеш так, чтобы наши гости могли приехать к нам в любое время года и насладиться отдыхом в Хакасии."
    +Description()
    a(href="mock-me" target="_blank" rel="noopener noreferrer").autumn__link
        img(src="../../assets/img/sugeshVK.svg")
