include ../../../blocks/InfoCard/InfoCard
include ../../../blocks/ButtonLine/ButtonLine

mixin Description()
    section.description
        h2.description__title="ЧЕМ ЗАНЯТЬСЯ В СЮГЕШЕ ЛЕТОМ?"
        -
            const cards = [
                {
                    subtitle: "Купайтесь в открытом бассейне",
                    text: "Для наших гостей мы оборудовали замечательный открытый бассейн. Купайтесь, загорайте на шезлонгах, заказывайте вкусные напитки в кафе Сюгеша и заряжайтесь летним настроением по-максимуму!",
                    img: '../../assets/img/infoCardSummer/infoCardSummer1.jpg'
                },
                {
                    subtitle: "Вкусно покушайте в семейном кафе \"Сюгеш\"",
                    text: "Детское меню, горячие напитки и вкусные блюда - все для вашего гастрономического наслаждения. Забудьте о хлопотах, наслаждайтесь отдыхом и закажите вкусные блюда в кафе Сюгеш (при аренде дома завтрак и ужин входят в стоимость проживания)",
                    img: '../../assets/img/infoCardSummer/infoCardSummer2.jpg',
                    isRight: true
                },
                {
                    subtitle: "Вдохновляющие пешие прогулки в окружении потрясающих пейзажей Хакасии, практики и медитации под звуки природы",
                    text: "Потрясающие виды и свежий воздух подарят вам вдохновение на ближайшие месяцы! Медитации в полной тишине под звуки природы подарят невероятные ощущения и наполнят вас энергией изнутри.",
                    img: '../../assets/img/walking.svg',
                    flatImg: true,
                },
                {
                    subtitle: 'Занимайтесь спортом на свежем воздухе!',
                    text: "Огромное пространство для комфортных занятий спортом на свежем воздухе в окружении кедрового леса.",
                    img: '../../assets/img/infoCardSummer/infoCardSummer3.svg',
                    isRight: true,
                    flatImg: true,
                },
                {
                    subtitle: 'Общайтесь с животными',
                    text: "Летом на территории Сюгеш обитают различные животные и птицы, например, милые декоративные кролики.",
                    img: '../../assets/img/infoCardSummer/infoCardSummer4.jpg',
                },
                {
                    subtitle: 'Попробуйте прогулки по реке',
                    text: "Прокатитесь на моторной или аэролодке по реке, и насладитесь пейзажами Хакасии с другого ракурса. Вдохните свежий речной воздух, перемешанный с влагой от реки и насладитесь прекрасным отдыхом! Подробности уточняйте у администратора.",
                    img: '../../assets/img/infoCardSummer/infoCardSummer5.jpg',
                    isRight: true
                },
                {
                    subtitle: 'Посетите экскурсии',
                    text: "По вашему запросу мы можем организовать экскурсию на 3-5 человек на Саяно-Шушенскую ГЭС - одну из крупнейших станций в России. Или на форелевое хозяйство. Там вы сможете приобрести форель, которую  поймают прям при вас. Рыбу можно приготовить там,на самой ферме, либо привезти на базу отдыха Сюгеш и повара нашего кафе приготовят блюдо для вас. Подробности уточняйте у администратора.",
                    img: '../../assets/img/infoCardSummer/infoCardSummer6.svg',
                    flatImg: true,
                }
            ]
        ul.description__cards
            each card in cards
                li.description__cards-item
                    if card.isLine
                        +ButtonLine({buttons: card.buttons})
                    else
                        +InfoCard(card)
