include ../Input/Input

mixin SPAForm(buttonText='Записаться в SPA-центр')
    form.spa-form&attributes(attributes)
        +Input({placeholder: 'Имя'})(type='text', minlength="2")
        +Input({placeholder: 'Телефон'})(type="tel", inputmode="tel")
        button(type="submit").spa-form__button=buttonText
