include ../../../blocks/Accordion/Accordion

mixin QnA()
    -
        const accordions = [
            {
                title: "За какой период необходимо забронировать дом?",
                text: "Мы рекомендуем заранее планировать отдых и бронировать дом минимум за 14 дней. Так вы сможете выбрать дом, который вам нравится и заранее забронировать его на необходимые даты. Планируете отмечать Новый Год в Сюгеше? Бронирование на зимний сезон открывается уже в сентябре. Узнать свободные даты и стоимость можно <a href='https://booking.sugesh.ru/' class='accordion__modal-text-link'>здесь.</a>"
            }, {
                title: "Время заезда и выезда",
                text: "Дома с №1 по №6: заезд - 15:00; выезд - 12:00. Дома с №7 по №12: заезд - 16:00; выезд - 13:00. В разные сезоны отдыха возможно изменение времени заезда."
            }, {
                title: "Как узнать стоимость и свободные даты?",
                text: "Узнать стоимость и свободные даты вы можете здесь. Если у вас возникнут дополнительные вопросы - вы можете написать нам в поддержку, в социальные сети или позвонить по телефону 89833779577"
            }, {
                title: "Что делать, если хотим отказаться от бронирования?",
                text: "Если вы отказываетесь от заказа менее чем за месяц до заезда, то возврат оплаты будет осуществлен по факту заселения арендованного дома другими людьми (перепродажи вашего заказа). Просим учесть, что при отказе от заказа из возвращаемой суммы будут вычтены 8 % от суммы заказа."
            }, {
                title: "Что входит в стоимость проживания?",
                text: "В летний период в стоимость проживания на 1 человека входит: проживание в выбранном доме (и все необходимое в нем: полотенце, одноразовые средства гигиены, постельное белье, бытовая техника); клининг (по запросу при проживании более 3-х дней); использование мангала + пачка углей и решетка в подарок; шезлонги; посещение открытого бассейна; двух саун на территории бассейна, а также завтрак и ужин. </br> В зимний период в стоимость проживания на 1 человека входит: проживание в выбранном доме (и все необходимое в нем: полотенце, одноразовые средства гигиены, постельное белье, бытовая техника); клининг (по запросу при проживании более 3-х дней); использование мангала + пачка углей и решетка в подарок, зимний каток, прорубь. Если аренда в будние дни и дополнительно вы арендуете амуницию в прокате - использование подъемника в подарок. </br>- Проживание для детей до 5 лет бесплатно.</br>- У базы отдыха есть парковка, которая также входит в стоимость проживания</br>Оборудованная парковка около дома платная: 500 рублей разовый платеж"
            },
            {
                title: "Какие правила нужно соблюдать на базе отдыха?",
                text: "Главное - соблюдать порядок и вести себя культурно.</br> Курить разрешено только в ОТВЕДЕННЫХ ЗОНАХ.</br> Распитие алкогольных напитков ЗАПРЕЩЕНО.</br> Громко слушать музыку после 23:00 ЗАПРЕЩЕНО. База Сюгеш - это место комфортного семейного отдыха.</br> Ознакомиться подробнее с договором и правилами можно здесь: <a href='https://docs.google.com/document/d/16R8WRzjvYZEgER4WZndSQxP-iSGeAYmI/edit?usp=sharing&ouid=112432636204497977755&rtpof=true&sd=true' target='_blank' rel='noopener noreferrer' class='accordion__modal-text-link'>ознакомиться</a>"
            }, {
                title: "Можно ли приехать с детьми? Им будет чем заняться?",
                text: "Нужно! В Сюгеше есть все необходимое для полноценного и комфортного отдыха с детьми. Развлечения: тарзанки, качели, песочница, площадки для отдыха и спорта, бассейн (летом), ватрушки, коньки, лыжи (зимой). Детское меню в кафе, детские стульчики. Весной: маленький контактный зоопарк, круглый год на территории живут кролики. Дети получают невероятные эмоции, приезжая к нам!"
            }, {
                title: "Можно ли приехать со своей техникой?",
                text: "Если у вас есть кроссовые мотоциклы, квадроциклы - вам доступны сотни километров полей и гор, где можно насладиться ездой!</br> Есть лодки на водометах? Вы любитель водно-моторного спорта? Рядом с базой отдыха река Абакан - катайтесь и  рыбачьте в удовольствие, а расположиться можно в комфортных домах Сюгеша."
            }, {
                title: "Тепло ли в домиках? Где находятся санузлы?",
                text: "В каждом из жилых домов проведено централизованное отопление, есть горячее и холодное водоснабжение, санузел и душевая кабина. Мы заботимся о вашем комфорте во время отдыха."
            }, {
                title: "Какие развлечения есть на территории базы отдыха?",
                text: "Развлечений очень много - в любой сезон вы найдете занятие по душе! Круглый год нашим гостям доступны русская банька и фурако, кедровая фитобочка и расслабляющий массаж, кафе, пешие прогулки, прогулки по реке на лодках. Летом работает открытый бассейн, а зимой - прокат лыж, каток, сноутюбинг и многое другое. Подробнее о развлечениях в определенный сезон вы можете прочитать <a href='#seasons' class='accordion__modal-text-link'>здесь.</a>"
            }, {
                title: "Что делать, если приехали раньше времени заселения?",
                text: "Приехали раньше времени заселения? Не беспокойтесь! Вы сможете оставить вещи или автомобиль у администрации и подняться в кафе: во время ожидания выпить чай/кофе, заказать еду."
            }
        ]
    section.qna
        h2.qna__title="Мы собрали ответы на самые популярные вопросы:"
        ul.qna__list
            each accordion in accordions
                li.qna__list-item
                    +Accordion(accordion)
        .qna__inner
            .qna__inner-left
                span.qna__inner-text-big="Возник другой вопрос?"
                a(href="mailto:sugeshbron@gmail.com").qna__inner-text-link
                    img(src="../../assets/img/emailUs.svg")
                span.qna__inner-text-small="Мы ответим в рабочее время с 10:00 до 17:00"
            a(href="https://vk.com/sugesh" target="_blank" rel="noopener noreferrer").qna__inner-link
                img(src="../../assets/img/sugeshVK.svg")
