@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.qna {
    margin-block-start: 70px;
    padding-block: 125px 88px;
    padding-inline: 20px;
    background-image: url("../../../assets/img/qna-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include media($tablet) {
        margin-block-start: 40px;
        padding-block: 100px;
    }

    @include media($mobileBig) {
        padding-block: 60px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: $light;
        text-align: center;

        @include media($tablet) {
            font-size: 32px;
            line-height: 39px;
        }

        @include media($mobileBig) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__list {
        margin-block: 80px 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 50px;

        &-item {
            max-width: 617px;
            width: 100%;
        }

        @include media($tablet) {
            margin-bottom: 80px;
        }

        @include media($mobileBig) {
            margin-block: 40px 60px;
            row-gap: 20px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 1180px;
        margin: 0 auto;

        &-button {
            width: 100%;
            max-width: 510px;
            margin-inline: auto;
        }

        &-text {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: $gray6;
        }

        @include media($mobileBig) {
            flex-direction: column;
            row-gap: 20px;

            &-text {
                font-weight: 400;
                font-size: 13.499px;
                line-height: 16px;
            }
        }
    }
}
