mixin Slider({slides} = {})
    .glide.js-glide
        .glide__track(data-glide-el="track")
            ul.glide__slides
                each slide in slides
                    li.glide__slide
                        img(src=slide)
        .glide__arrows(data-glide-el="controls")
            button.glide__arrow.glide__arrow_directon_left(data-glide-dir="<")
                img(src="../../assets/img/arrow.svg")
            button.glide__arrow.glide__arrow_direction_right(data-glide-dir=">")
                img(src="../../assets/img/arrow.svg")
