@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 555px;
    background-image: url("../../../assets/img/opacityHouse.jpg");

    @include media($desktop) {
        flex-direction: column;
        gap: 6px;
    }

    @include media($mobileBig) {
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__title {
        max-width: 680px;
        text-align: left;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        color: $light;

        @include media($desktop) {
            font-size: 65px;
            line-height: 79px;
            text-align: center;
        }

        @include media($tablet) {
            font-size: 26px;
            line-height: 32px;
        }

        &_number {
            font-size: 250px;
            line-height: 304px;

            @include media($desktop) {
                line-height: 200px;
            }

            @include media($tablet) {
                font-size: 100px;
                line-height: 122px;
            }
        }
    }
}
