@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';
.team {
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 59px;
        line-height: 75px;
        color: $light;
        text-shadow: 0 0 17px $dark50;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;

        @include media($desktopBig) {
            font-size: 48px;
            line-height: 70px;
        }
        @include media($tablet) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__img {
        width: 100%;
        display: block;
    }
}
