@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';
.buttonLine {
    background-color: $secondColor;
    display: flex;
    justify-content: center;
    padding-block: 30px;
    gap: 130px;
    padding-inline: 20px;

    @include media($tablet) {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
}
