extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/SeasonGreeting/SeasonGreeting
include ../../blocks/Results/Results
include ../../blocks/Slider/Slider

block title
    title Отдел заботы

block content
    -
        const greeting = {
            text: 'Мы рады приветствовать вас на нашей таежной горнолыжной базе. Здесь каждый сможет найти что-то для себя.</br> Наша главная цель – сделать ваш отдых комфортным и безопасным. Мы стремимся обеспечить вам чудесное времяпровождение, создаем атмосферу уюта и гостеприимства.</br> Если у вас возникнут вопросы или пожелания, мы всегда готовы прийти на помощь. У нас работают отзывчивые и опытные специалисты.',
            buttonText: 'Забронировать домик',
            link: 'https://booking.sugesh.ru/',
            iconText: 'ОТДЕЛ ЗАБОТЫ',
            icon: '../../assets/img/care-brown.svg'
        }
    +Spray(true)
    +GreetingWrapper().care__wrapper
        +SeasonGreeting(greeting)
        +Slider({slides: ['../../assets/img/other/house.jpg', '../../assets/img/other/inventory.jpg', '../../assets/img/other/bath.jpg', '../../assets/img/other/board.jpg']})
    +Results()
