@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.souvenirsDescription {
    background-color: $light;
    padding-bottom: 150px;
    padding-top: 0;

    @include media($desktopBig) {
        padding-bottom: 100px;
    }
    @include media($tablet) {
        padding-bottom: 40px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-top: 0;

        @include media($desktopBig) {
            gap: 30px;
        }
        &-item {
            &:first-child, &:nth-child(2) {
                & > .infoCard {
                    margin: 0;
                }
            }
        }
    }
}
