extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/SeasonCard/SeasonCard
include ../../blocks/Seasons/Seasons
include ../../blocks/SPAForm/SPAForm
include ../../blocks/Button/Button
include ../../blocks/GalleryBlock/GalleryBlock
include ./GalleryLinks/GalleryLinks
include ./Scroll/Scroll
include ./Greeting/Greeting
include ./Houses/Houses

block title
    title Галерея

block content
    -
        const links = [
            {
                title: 'Домик 1',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 2',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 3',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 4',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 5',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 6',
                link: '',
                text: 'Возможное описание. Что входит в домик? Количество комнат. Количество человек вместимость.'
            },
            {
                title: 'Домик 7',
                link: ''
            },
            {
                title: 'Домик 8',
                link: ''
            },
            {
                title: 'Домик 9',
                link: ''
            },
            {
                title: 'Домик 10',
                link: ''
            }
        ]
        const seasons = [
                {name: "зима", img: '../../assets/img/winter.png', link: 'winter.html', isWinter: true, icon: '../../assets/img/snowflake.svg'},
                {name: "весна", img: '../../assets/img/spring.png', link: 'spring.html', icon: '../../assets/img/flower.svg'},
                {name: "лето", img: '../../assets/img/summer.png', link: 'summer.html', icon: '../../assets/img/sun.svg'},
                {name: "осень", img: '../../assets/img/autumn.png', link: 'autumn.html', icon: '../../assets/img/leafAutumn.svg'}
        ]
        const scrolls = [
            [
                '../../assets/img/houses/1/house1_1.jpg',
                '../../assets/img/houses/1/house1_2.jpg',
                '../../assets/img/houses/1/house1_3.jpg',
                '../../assets/img/houses/1/house1_4.jpg',
                '../../assets/img/houses/1/house1_5.jpg',
                '../../assets/img/houses/1/house1_6.jpg',
                '../../assets/img/houses/1/house1_7.jpg',
                '../../assets/img/houses/1/house1_8.jpg',
                '../../assets/img/houses/1/house1_9.jpg',
                '../../assets/img/houses/1/house1_10.jpg',
                '../../assets/img/houses/1/house1_11.jpg',
                '../../assets/img/houses/1/house1_12.jpg',
                '../../assets/img/houses/1/house1_13.jpg',
                '../../assets/img/houses/1/house1_14.jpg',
                '../../assets/img/houses/1/house1_15.jpg',
                '../../assets/img/houses/1/house1_16.jpg',
                '../../assets/img/houses/1/house1_17.jpg'
            ],
            [
                '../../assets/img/houses/2/house2_1.jpg',
                '../../assets/img/houses/2/house2_2.jpg',
                '../../assets/img/houses/2/house2_3.jpg',
                '../../assets/img/houses/2/house2_4.jpg',
                '../../assets/img/houses/2/house2_5.jpg',
                '../../assets/img/houses/2/house2_6.jpg',
                '../../assets/img/houses/2/house2_7.jpg',
                '../../assets/img/houses/2/house2_8.jpg',
                '../../assets/img/houses/2/house2_9.jpg',
                '../../assets/img/houses/2/house2_10.jpg',
                '../../assets/img/houses/2/house2_11.jpg',
                '../../assets/img/houses/2/house2_12.jpg',
            ],
            [
                '../../assets/img/houses/3/house3_1.jpg',
                '../../assets/img/houses/3/house3_2.jpg',
                '../../assets/img/houses/3/house3_3.jpg',
                '../../assets/img/houses/3/house3_4.jpg',
                '../../assets/img/houses/3/house3_5.jpg',
                '../../assets/img/houses/3/house3_6.jpg',
                '../../assets/img/houses/3/house3_7.jpg',
                '../../assets/img/houses/3/house3_8.jpg',
                '../../assets/img/houses/3/house3_9.jpg',
                '../../assets/img/houses/3/house3_10.jpg',
                '../../assets/img/houses/3/house3_11.jpg',
                '../../assets/img/houses/3/house3_12.jpg',
                '../../assets/img/houses/3/house3_13.jpg',
            ],
            [
                '../../assets/img/houses/4/house4_1.jpg',
                '../../assets/img/houses/4/house4_2.jpg',
                '../../assets/img/houses/4/house4_3.jpg',
            ],
            [
                '../../assets/img/houses/5/house5_1.jpg',
                '../../assets/img/houses/5/house5_2.jpg',
                '../../assets/img/houses/5/house5_3.jpg',
                '../../assets/img/houses/5/house5_4.jpg',
                '../../assets/img/houses/5/house5_5.jpg',
                '../../assets/img/houses/5/house5_6.jpg',
                '../../assets/img/houses/5/house5_7.jpg',
                '../../assets/img/houses/5/house5_8.jpg',
                '../../assets/img/houses/5/house5_9.jpg',
                '../../assets/img/houses/5/house5_10.jpg',
                '../../assets/img/houses/5/house5_11.jpg',
                '../../assets/img/houses/5/house5_12.jpg',
            ],
            [
                '../../assets/img/houses/6/house6_1.jpg',
                '../../assets/img/houses/6/house6_2.jpg',
                '../../assets/img/houses/6/house6_3.jpg',
                '../../assets/img/houses/6/house6_4.jpg',
                '../../assets/img/houses/6/house6_5.jpg',
                '../../assets/img/houses/6/house6_6.jpg',
                '../../assets/img/houses/6/house6_7.jpg',
                '../../assets/img/houses/6/house6_8.jpg',
                '../../assets/img/houses/6/house6_9.jpg',
                '../../assets/img/houses/6/house6_10.jpg',
                '../../assets/img/houses/6/house6_11.jpg',
            ],
            [
                '../../assets/img/houses/7/house7_1.jpg',
                '../../assets/img/houses/7/house7_2.jpg',
                '../../assets/img/houses/7/house7_3.jpg',
                '../../assets/img/houses/7/house7_4.jpg',
                '../../assets/img/houses/7/house7_5.jpg',
                '../../assets/img/houses/7/house7_6.jpg',
                '../../assets/img/houses/7/house7_7.jpg',
                '../../assets/img/houses/7/house7_8.jpg',
                '../../assets/img/houses/7/house7_9.jpg',
            ],
            [
                '../../assets/img/houses/8/house8_1.jpg',
                '../../assets/img/houses/8/house8_2.jpg',
            ],
            [
                '../../assets/img/houses/9/house9_1.jpg',
                '../../assets/img/houses/9/house9_2.jpg',
                '../../assets/img/houses/9/house9_3.jpg',
                '../../assets/img/houses/9/house9_4.jpg',
                '../../assets/img/houses/9/house9_5.jpg',
                '../../assets/img/houses/9/house9_6.jpg',
                '../../assets/img/houses/9/house9_7.jpg',
                '../../assets/img/houses/9/house9_8.jpg',
                '../../assets/img/houses/9/house9_9.jpg',
                '../../assets/img/houses/9/house9_10.jpg',
                '../../assets/img/houses/9/house9_11.jpg',
                '../../assets/img/houses/9/house9_12.jpg',
            ],
            [
                '../../assets/img/houses/10/house10_1.jpg',
            ]
        ]
    +Spray()
    +Greeting()
    +SPAForm('Запросить консультацию')
    +GalleryLinks({links})
    +Houses(scrolls)
    +Seasons({seasons})
    +Button({text: 'Забронировать дом', link: 'mock-me'}).gallery__button
    +GalleryBlock()
