extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/SeasonCard/SeasonCard
include ../../blocks/Seasons/Seasons
include ../../blocks/SPAForm/SPAForm
include ../../blocks/Button/Button
include ../../blocks/GalleryBlock/GalleryBlock
include ./GalleryLinks/GalleryLinks
include ./Scroll/Scroll
include ./Greeting/Greeting
include ./Houses/Houses

block title
    title Галерея

block content
    -
        const links = [
            {
                title: 'Домик 1',
                number: 1,
                link: 'https://booking.sugesh.ru/',
                text: '42 м2. 1 этаж: 4 спальных места (две двуспальные кровати)'
            },
            {
                title: 'Домик 2',
                number: 2,
                link: 'https://booking.sugesh.ru/',
                text: '60 м2. 2 этажа: 7 спальных мест. Расположен на берегу озера, (две двухъярусные 1,5-спальные кровати и две 1,5-спальные)'
            },
            {
                title: 'Домик 3',
                number: 3,
                link: 'https://booking.sugesh.ru/',
                text: '35 м2. 1 этаж: 6 спальных мест (три двухъярусные кровати), красивый вид на озеро.'
            },
            {
                title: 'Домик 4',
                number: 4,
                link: 'https://booking.sugesh.ru/',
                text: '72 м2. 2 этаж, 8 спальных мест: 2 — двухъярусных кровати и 4 — полуторных.'
            },
            {
                title: 'Домик 5',
                number: 5,
                link: 'https://booking.sugesh.ru/',
                text: '72 м2. 2 этаж, 8 спальных мест: 3 — двухъярусных кровати и 2 — полуторных.'
            },
            {
                title: 'Домик 6',
                number: 6,
                link: 'https://booking.sugesh.ru/',
                text: '72 м2. 2 этажа:10 спальных мест. Расположен в 10 метрах от бассейна (четыре двухъярусные 1,5-спальные кровати и две 1,5-спальные).'
            },
            {
                title: 'Домик 7',
                number: 7,
                link: 'https://booking.sugesh.ru/',
                text: '72 м2. Новый коттедж из кедрового массива введен в эксплуатацию в декабре 2012 года! 2-х этажный, рассчитан на 6 персон.'
            },
            {
                title: 'Домик 8',
                number: 8,
                link: 'https://booking.sugesh.ru/',
                text: '55 м2. Новый коттедж из кедрового массива введен в эксплуатацию в декабре 2012 года. 2-х этажный, рассчитан на 4 персоны.'
            },
            {
                title: 'Домик 9',
                number: 9,
                link: 'https://booking.sugesh.ru/',
                text: 'Рассчитан на комфортный отдых 7 человек, 3 спальные зоны (2 — двуспальные кровати, 1 — двухъярусная, 1 — односпальная)'
            },
            {
                title: 'Домик 10',
                number: 10,
                link: 'https://booking.sugesh.ru/',
                text: '2 этажа. 12 спальных мест. Кухонная зона: посуда на 10 персон, микроволновая печь, эл. плита, холодильник.'
            },
            {
                title: 'Домик 11',
                number: 11,
                link: 'https://booking.sugesh.ru/',
                text: '2 спальных комнаты по 5 человек с двухъярусными кроватями.'
            },
            {
                title: 'Домик 12',
                number: 12,
                link: 'https://booking.sugesh.ru/',
                text: '2 спальных комнаты по 5 человек с двухъярусными кроватями.'
            },
            {
                title: 'Домик 45',
                number: 45,
                link: 'https://booking.sugesh.ru/',
                text: '8 спальных мест: 2 — двухъярусных кровати и 4\u00A0—\u00A0полуторных.'
            }
        ]
        const seasons = [
                {name: "зима", img: '../../assets/img/winter.jpg', link: 'winter.html', isWinter: true, icon: '../../assets/img/snowflake.svg'},
                {name: "весна", img: '../../assets/img/spring.jpg', link: 'spring.html', icon: '../../assets/img/flower.svg'},
                {name: "лето", img: '../../assets/img/summer.jpg', link: 'summer.html', icon: '../../assets/img/sun.svg'},
                {name: "осень", img: '../../assets/img/autumn.jpg', link: 'autumn.html', icon: '../../assets/img/leafAutumn.svg'}
        ]
        const scrolls = [
            [
                '../../assets/img/houses/1/house1_1.jpg',
                '../../assets/img/houses/1/house1_2.jpg',
                '../../assets/img/houses/1/house1_3.jpg',
                '../../assets/img/houses/1/house1_4.jpg',
                '../../assets/img/houses/1/house1_5.jpg',
                '../../assets/img/houses/1/house1_6.jpg',
                '../../assets/img/houses/1/house1_7.jpg',
                '../../assets/img/houses/1/house1_8.jpg',
                '../../assets/img/houses/1/house1_9.jpg',
                '../../assets/img/houses/1/house1_10.jpg',
                '../../assets/img/houses/1/house1_11.jpg',
                '../../assets/img/houses/1/house1_12.jpg',
                '../../assets/img/houses/1/house1_13.jpg',
                '../../assets/img/houses/1/house1_14.jpg',
                '../../assets/img/houses/1/house1_15.jpg',
                '../../assets/img/houses/1/house1_16.jpg',
                '../../assets/img/houses/1/house1_17.jpg',
                '../../assets/img/houses/1/house1_18.jpg'
            ],
            [
                '../../assets/img/houses/2/house2_1.jpg',
                '../../assets/img/houses/2/house2_2.jpg',
                '../../assets/img/houses/2/house2_3.jpg',
                '../../assets/img/houses/2/house2_4.jpg',
                '../../assets/img/houses/2/house2_5.jpg',
                '../../assets/img/houses/2/house2_6.jpg',
                '../../assets/img/houses/2/house2_7.jpg',
                '../../assets/img/houses/2/house2_8.jpg',
                '../../assets/img/houses/2/house2_9.jpg',
                '../../assets/img/houses/2/house2_10.jpg',
                '../../assets/img/houses/2/house2_11.jpg',
                '../../assets/img/houses/2/house2_12.jpg',
                '../../assets/img/houses/2/house2_13.jpg',
                '../../assets/img/houses/2/house2_14.jpg',
                '../../assets/img/houses/2/house2_15.jpg',
                '../../assets/img/houses/2/house2_16.jpg',
                '../../assets/img/houses/2/house2_17.jpg',
                '../../assets/img/houses/2/house2_18.jpg',
                '../../assets/img/houses/2/house2_19.jpg'
            ],
            [
                '../../assets/img/houses/3/house3_1.jpg',
                '../../assets/img/houses/3/house3_2.jpg',
                '../../assets/img/houses/3/house3_3.jpg',
                '../../assets/img/houses/3/house3_4.jpg',
                '../../assets/img/houses/3/house3_5.jpg',
                '../../assets/img/houses/3/house3_6.jpg',
                '../../assets/img/houses/3/house3_7.jpg',
                '../../assets/img/houses/3/house3_8.jpg',
                '../../assets/img/houses/3/house3_9.jpg',
                '../../assets/img/houses/3/house3_10.jpg',
                '../../assets/img/houses/3/house3_11.jpg',
                '../../assets/img/houses/3/house3_12.jpg',
                '../../assets/img/houses/3/house3_13.jpg',
            ],
            [
                '../../assets/img/houses/4/house4_1.jpg',
                '../../assets/img/houses/4/house4_2.jpg',
                '../../assets/img/houses/4/house4_3.jpg',
                '../../assets/img/houses/4/house4_4.jpg',
                '../../assets/img/houses/4/house4_5.jpg',
                '../../assets/img/houses/4/house4_6.jpg',
                '../../assets/img/houses/4/house4_7.jpg',
                '../../assets/img/houses/4/house4_8.jpg',
                '../../assets/img/houses/4/house4_9.jpg',
                '../../assets/img/houses/4/house4_10.jpg',
            ],
            [
                '../../assets/img/houses/5/house5_1.jpg',
                '../../assets/img/houses/5/house5_2.jpg',
                '../../assets/img/houses/5/house5_3.jpg',
                '../../assets/img/houses/5/house5_4.jpg',
                '../../assets/img/houses/5/house5_5.jpg',
                '../../assets/img/houses/5/house5_6.jpg',
                '../../assets/img/houses/5/house5_7.jpg',
            ],
            [
                '../../assets/img/houses/6/house6_1.jpg',
                '../../assets/img/houses/6/house6_2.jpg',
                '../../assets/img/houses/6/house6_3.jpg',
                '../../assets/img/houses/6/house6_4.jpg',
                '../../assets/img/houses/6/house6_5.jpg',
                '../../assets/img/houses/6/house6_6.jpg',
                '../../assets/img/houses/6/house6_7.jpg',
                '../../assets/img/houses/6/house6_8.jpg',
                '../../assets/img/houses/6/house6_9.jpg',
                '../../assets/img/houses/6/house6_10.jpg',
                '../../assets/img/houses/6/house6_11.jpg',
                '../../assets/img/houses/6/house6_12.jpg',
                '../../assets/img/houses/6/house6_13.jpg',
                '../../assets/img/houses/6/house6_14.jpg',
                '../../assets/img/houses/6/house6_15.jpg',
                '../../assets/img/houses/6/house6_16.jpg',
            ],
            [
                '../../assets/img/houses/7/house7_1.jpg',
                '../../assets/img/houses/7/house7_2.jpg',
                '../../assets/img/houses/7/house7_3.jpg',
                '../../assets/img/houses/7/house7_4.jpg',
                '../../assets/img/houses/7/house7_5.jpg',
                '../../assets/img/houses/7/house7_6.jpg',
                '../../assets/img/houses/7/house7_7.jpg',
                '../../assets/img/houses/7/house7_8.jpg',
                '../../assets/img/houses/7/house7_9.jpg',
                '../../assets/img/houses/7/house7_10.jpg',
            ],
            [
                '../../assets/img/houses/8/house8_1.jpg',
                '../../assets/img/houses/8/house8_2.jpg',
            ],
            [
                '../../assets/img/houses/9/house9_1.jpg',
                '../../assets/img/houses/9/house9_2.jpg',
                '../../assets/img/houses/9/house9_3.jpg',
                '../../assets/img/houses/9/house9_4.jpg',
                '../../assets/img/houses/9/house9_5.jpg',
                '../../assets/img/houses/9/house9_6.jpg',
                '../../assets/img/houses/9/house9_7.jpg',
                '../../assets/img/houses/9/house9_8.jpg',
                '../../assets/img/houses/9/house9_9.jpg',
                '../../assets/img/houses/9/house9_10.jpg',
                '../../assets/img/houses/9/house9_11.jpg',
            ],
            [
                '../../assets/img/houses/10/house10_1.jpg',
                '../../assets/img/houses/10/house10_2.jpg',
                '../../assets/img/houses/10/house10_3.jpg',
                '../../assets/img/houses/10/house10_4.jpg',
                '../../assets/img/houses/10/house10_5.jpg',
                '../../assets/img/houses/10/house10_6.jpg',
                '../../assets/img/houses/10/house10_7.jpg',
                '../../assets/img/houses/10/house10_8.jpg',
                '../../assets/img/houses/10/house10_9.jpg',
                '../../assets/img/houses/10/house10_10.jpg',
                '../../assets/img/houses/10/house10_11.jpg',
                '../../assets/img/houses/10/house10_12.jpg',
                '../../assets/img/houses/10/house10_13.jpg',
                '../../assets/img/houses/10/house10_14.jpg',
                '../../assets/img/houses/10/house10_15.jpg',
                '../../assets/img/houses/10/house10_16.jpg',
            ],
            [
                '../../assets/img/houses/11/house11_1.jpg',
                '../../assets/img/houses/11/house11_2.jpg',
                '../../assets/img/houses/11/house11_3.jpg',
                '../../assets/img/houses/11/house11_4.jpg',
                '../../assets/img/houses/11/house11_5.jpg',
                '../../assets/img/houses/11/house11_6.jpg',
                '../../assets/img/houses/11/house11_7.jpg',
                '../../assets/img/houses/11/house11_8.jpg',
            ],
            [
                '../../assets/img/houses/12/house12_1.jpg',
                '../../assets/img/houses/12/house12_2.jpg',
                '../../assets/img/houses/12/house12_3.jpg',
                '../../assets/img/houses/12/house12_4.jpg',
                '../../assets/img/houses/12/house12_5.jpg',
                '../../assets/img/houses/12/house12_6.jpg',
            ],
            [
                '../../assets/img/houses/45/house45_1.jpg',
                '../../assets/img/houses/45/house45_2.jpg',
                '../../assets/img/houses/45/house45_3.jpg',
                '../../assets/img/houses/45/house45_4.jpg',
                '../../assets/img/houses/45/house45_5.jpg',
                '../../assets/img/houses/45/house45_6.jpg',
                '../../assets/img/houses/45/house45_7.jpg',
                '../../assets/img/houses/45/house45_8.jpg',
                '../../assets/img/houses/45/house45_9.jpg',
                '../../assets/img/houses/45/house45_10.jpg',
                '../../assets/img/houses/45/house45_11.jpg',
                '../../assets/img/houses/45/house45_12.jpg',
            ]
        ]
    +Spray()
    +Greeting()
    +SPAForm('Запросить консультацию')
    +GalleryLinks({links})
    +Houses(scrolls)
    +Seasons({seasons})
    +Button({text: 'Забронировать дом', link: 'https://booking.sugesh.ru/'}).gallery__button
    +GalleryBlock()
