extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../path/Location/Location
include ../path/Help/Help
include ./Greeting/Greeting
include ./ContactIcon/ContactIcon
include ./Data/Data
include ./Agency/Agency

block title
    title Контакты

block content
    +Spray()
    +Greeting()
    +Data()
    +Agency()
    +Location()
    +Help()

