extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/SeasonGreeting/SeasonGreeting
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/Slider/Slider
include ../../blocks/Description/Description
include ../../blocks/SPAForm/SPAForm
include ../../blocks/Results/Results
include ./Menu/Menu

block title
    title Кафе

block content
    -
        const greeting = {
            title: 'Братец кролик',
            text: 'Приезжая в “Сюгеш” обязательно загляните в наше кафе! Мы очень заботимся о наших гостях, поэтому готовим блюда только из натуральных продуктов. ' +
                    '</br></br><strong>График работы</strong>: Воскресенье-четверг: с 9.00 до 20.00 Пятница, суббота: с 9.00 до 22.00 </br></br><strong>Завтраки ежедневно</strong>: с 9:00 до 11:00',
            link: 'mock-me',
            iconText: 'КАФЕ',
            icon: '../../assets/img/bowl-brown.svg'
        }
        const cards = [
            {
                text: "Для наших гостей мы готовим аппетитные домашние блюда. </br></br>Дополнительно вы всегда можете <a class='cafe__link' href='mock-me'>оформить под заказ</a> блюда Итальянской или Японской кухни*</br></br><span class='cafe__undertext'>*подробную информацию можно уточнить у администратора или в кафе</span>",
                img: '../../assets/img/infoCardCafe/infoCardCafe1.jpg',
                isRight: true,
                defaultCover: false
            }
        ]
        const menuData = [
            {
                title: 'Детское меню',
                slides: ['../../assets/img/big-menu.png']
            },
            {
                title: 'Взрослое меню',
                slides: ['../../assets/img/big-menu.png', '../../assets/img/big-menu.png']
            },
            {
                title: 'Барное меню',
                slides: ['../../assets/img/big-menu.png', '../../assets/img/big-menu.png']
            },
        ]
    +Spray()
    +GreetingWrapper.cafe()
        +SeasonGreeting(greeting)
        +Slider({
            slides: ['../../assets/img/summer/summer1.jpg', '../../assets/img/summer/summer2.jpg', '../../assets/img/summer/summer3.jpg'],
            withIcon: true
        }).cafe__slider
    +SPAForm('Забронировать столик')
    +Description({title: 'Кухня', cards})
    +Menu(menuData)
    +Results()
