extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/SeasonGreeting/SeasonGreeting
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/Slider/Slider
include ../../blocks/Description/Description
include ../../blocks/SPAForm/SPAForm
include ../../blocks/Results/Results
include ./Menu/Menu
include ./ExcelMenu/ExcelMenu

block title
    title Кафе

block content
    -
        const greeting = {
            title: '«Братец кролик»',
            text: 'Приезжая в «Сюгеш», обязательно загляните в наше кафе! Мы очень заботимся о наших гостях, поэтому готовим блюда только из натуральных продуктов. ' +
                    '</br></br><strong>График работы</strong>: Воскресенье-четверг: с 9.00 до 20.00 Пятница, суббота: с 9.00 до 22.00 </br></br><strong>Завтраки ежедневно</strong>: с 9:00 до 11:00',
            iconText: 'КАФЕ',
            icon: '../../assets/img/bowl-brown.svg'
        }
        const cards = [
            {
                title: 'Аппетитно',
                text: "Для наших гостей мы готовим аппетитные домашние блюда.</br></br><span class='cafe__undertext'> Подробную информацию можно уточнить у администратора или в кафе</span>",
                img: '../../assets/img/infoCardCafe/infoCardCafe1.jpg',
                isRight: true,
                defaultCover: false
            }
        ]
        const menuData = [
            {
                title: 'Детское меню',
                slides: ['../../assets/img/big-menu.png']
            },
            {
                title: 'Взрослое меню',
                slides: ['../../assets/img/big-menu.png', '../../assets/img/big-menu.png']
            },
            {
                title: 'Барное меню',
                slides: ['../../assets/img/big-menu.png', '../../assets/img/big-menu.png']
            },
        ]
    +Spray()
    +GreetingWrapper.cafe()
        +SeasonGreeting(greeting)
        +Slider({
            slides: ['../../assets/img/gallery/dining/dining_2_1.jpg', '../../assets/img/gallery/dining/dining_2_2.jpg', '../../assets/img/gallery/dining/dining_3_1.jpg'],
            withIcon: true
        }).cafe__slider
    +Description({title: 'Кухня', cards})
    //+Menu(menuData)
    +ExcelMenu()
    +Results()
