@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.cafe {
    & .seasonGreeting__text {
        margin-block-end: 78px;
        font-size: 24px;
        line-height: 29px;
    }

    &__link {
        font-weight: 700;
        text-decoration: underline;
        color: $sogesh;
    }

    &__undertext {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: $sogesh;
    }

    & > &__slider {
        margin-top: 100px;

        @include media($tablet) {
            margin-top: -50px;
        }

        .js-glide__lines {
            &::after, &::before {
                height: 280px;
            }
        }
    }
}
