extends ../../templates/page-template
include ../../blocks/Description/Description
include ../../blocks/Spray/Spray
include ../../blocks/TextIcon/TextIcon
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/SPAForm/SPAForm
include ./Location/Location
include ./Help/Help
include ./Greeting/Greeting

block title
    title Как добраться

block content
    -
        const cards = [
            {
                title: "На машине",
                text: "Доезжайте до города Абакан. От Абакана езжайте до села Таштып. Сюгеш находится в 150 км. от г. Абакана по трассе А161 (ю-з), в 10-ти километрах от п. Таштып (в сторону г. Абаза). </br></br>Дорога асфальтирована до самой базы и можно добраться на любом транспорте. На повороте к базе отдыха, на федеральной трассе А-161, установлен указатель — баннер «Сюгеш» (от п. Таштып вы проедете 10 км. в сторону г. Абаза.)",
                img: '../../assets/img/path/path1.jpg',
                isRight: true,
                defaultCover: false,
            },
            {
                title: "На самолете/поезде",
                text: 'Нужно добраться до г. Абакана. Далее трансфер Сюгеша встречает вас на ЖД вокзале или в аэропорте и привозит на базу отдыха. Автобус (трансфер) вмещает 6 человек. Стоимость трансфера: 10 000 рублей. </br></br>На поезде вы также можете доехать до станции "Аскиз". От неё вызвать такси, либо заранее забронировать транфсер через администрацию комплекса "Сюгеш" ',
                img: '../../assets/img/path/path2.jpg'
            },
            {
                title: "На автобусе",
                text: "Самостоятельно добраться от ЖД вокзала или аэропорта можно на любом автобусе Абакан-Абаза (остановка от базы в 500 м.) или на такси.",
                img: '../../assets/img/path/path3.jpg',
                isRight: true,
            }
        ]
    +Spray()
    +Greeting()
    +SPAForm('Запросить консультацию')
    +Description({cards})
    +Location()
    +Help()
