mixin Help()
    .help
        div.help__img
            img(src="../../assets/img/road.svg")
        .help__inner
            p.help__text!="Заблудились и не можете нас найти?</br> Срочно позвоните менеджеру: <span>8 983 377 95 77</span> - он поможет сориентироваться"
            a.help__link(href="tel:mock-me")='Позвонить'
