include ../../../blocks/SPAForm/SPAForm

mixin Help()
    .help
        .help__inner
            p.help__text!="Заблудились и не можете нас найти?</br> Срочно <a class='help__link' href='tel:89833779577'>позвоните менеджеру: 8 983 377 95 77</a> - он поможет сориентироваться"
        +SPAForm('Запросить консультацию').help__form
