mixin GalleryBlock(slides=[])
    .galleryBlock
        h2.galleryBlock__title='Галерея'
        .glide.js-galleryBlock
                .glide__track.js-galleryBlock__track(data-glide-el="track")
                    ul.glide__slides.galleryBlock__slides.js-galleryBlock__slides
                .galleryBlock__arrows(data-glide-el="controls")
                    button.galleryBlock__arrow.galleryBlock__arrow_direction_left(data-glide-dir="<")
                    button.galleryBlock__arrow.galleryBlock__arrow_direction_right(data-glide-dir=">")
