@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.accordion {
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        width: 100%;
        max-width: 620px;
        min-height: 140px;
        padding-inline: 70px 120px;
        background-color: $light;
        box-shadow: 6px 6px 50px $dark15;
        border-radius: 40px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: $sogesh;
        cursor: pointer;

        &::after {
            position: absolute;
            top: 50%;
            right: 70px;
            transform: translateY(-50%);
            content: url("../../assets/img/arrow-green.svg");
        }

        @include media($tablet) {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
        }

        @include media($mobileBig) {
            min-height: 94px;
            padding-inline: 24px 74px;
            font-size: 16px;
            line-height: 20px;

            &::after {
                right: 30px;
            }
        }
    }

    &__text {
        display: none;
        padding: 80px 62px 40px 50px;
        background-color: $light;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $sogesh;
        transform: translateY(-40px);

        &-link {
            color: $mainColor;
            font-weight: 700;
        }

        @include media($mobileBig) {
            padding: 60px 24px 22px 27px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    & input {
        display: none;
    }

    & input:checked ~ &__text {
        display: block;
    }

    & input:checked ~ &__title {
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
