mixin Accordion({title = '', text = ''} = {})
    .accordion
        input(type="checkbox" id=title name="tab-group")
        label.accordion__title(for=title)=title
        section.accordion__text!=text
