extends ../../templates/page-template
include ../../blocks/Carousel/Carousel
include ../../blocks/QuickLinks/QuickLinks
include ../../blocks/RequestFormSport/RequestFormSport
include ../../blocks/Results/Results
include ../../blocks/SeasonGreeting/SeasonGreeting
include ../../blocks/Slider/Slider
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/Description/Description
include ../../blocks/Spray/Spray

block title
    title Зима

block content
    -
        const greeting = {
            title: '«Сюгеш»</br>',
            text: 'Детский горнолыжный курорт. Всё для семейного отдыха.',
            buttonText: 'Забронировать дом',
            link: 'https://booking.sugesh.ru/',
            iconText: 'ЗИМА',
            icon: '../../assets/img/snowflake-brown.svg'
        }
        const cards = [
            {
                title: "Катание на горных лыжах, сноуборде, тюбинге или коньках",
                text: "Для вас оборудован бугельный подъёмник на гору 600 метров в длину (при аренде дома и амуниции, поездки на подъёмнике в подарок). Сможете прокатиться на горных лыжах, сноуборде. </br></br> Приехать можно на один день или забронировать дом, чтобы насладиться отдыхом в Хакасии подольше. Скоро мы запустим вторую гору 1200 метров в длину! Также на территории «Сюгеша» есть профессиональные беговые лыжные трассы на 2, 3 и 5 км.",
                img: '../../assets/img/infoCardWinter/infoCardWinter1.jpg',
                isRight: true,
                defaultCover: false,
            },
            {
                title: "Прогулки по сказочному зимнему лесу Хакасии",
                text: "Вы сможете пройтись и насладиться зимними пейзажами Хакасии, взяв ароматный горячий кофе в кафе «Сюгеш».</br></br> Можно приехать на один день или забронировать домик, чтобы насладиться природой Хакасии подольше.",
                img: '../../assets/img/infoCardWinter/infoCardWinter2.jpg',
            },
            {
                title: "Вкусные трапезы в кафе «Братец кролик»",
                text: "Детское меню, горячие напитки и вкусные блюда — все для вашего гастрономического наслаждения.</br></br> Забудьте о хлопотах, наслаждайтесь отдыхом и закажите вкусные блюда в кафе «Сюгеш» (при аренде дома завтрак входит в стоимость проживания).",
                img: '../../assets/img/infoCardWinter/infoCardWinter3.jpg',
                isRight: true
            },
            {
                title: "Занятия с инструктором для детей и взрослых",
                text: "Да, с таким развлечением скучать точно не придется! </br></br>Не беспокойтесь за безопасность - наши трассы оборудованы по всем техническим правилам. Трасса освещена в темное время суток, имеется подъемник.",
                img: '../../assets/img/infoCardWinter/infoCardWinter4.jpg',

            },
            {
                title: "Сауна с бассейном",
                text: "Вы всегда можете забронировать сауну с бассейном и отлично провести время.",
                img: '../../assets/img/infoCardWinter/infoCardWinter5.jpg',
                isRight: true
            },
            {
                title: "Русская банька, чан и прорубь",
                text: "После активного отдыха на зимнем морозце погрейтесь в бане, кедровой фитобочке и посетите расслабляющий массаж. После процедуры вас напоят горячим травяным чаем с медом.",
                img: '../../assets/img/infoCardWinter/infoCardWinter6.jpg',
            },
            {
                title: "Расслабляющие процедуры в SPA-центре</br><p class='infoCard__subtitle'>(массаж для детей и взрослых, обёртывание и другие услуги)</p>",
                text: "Телу нужно расслабляться. Поставьте динамичную жизнь на паузу, приезжайте в «Сюгеш» и после насыщенного дня посетите баньку или кедровую фитобочку, а после — расслабляющий массаж. </br></br>После процедуры вас напоят вкусным горячим травяным чаем с мёдом.",
                img: '../../assets/img/infoCardWinter/infoCardWinter7.jpg',
                isRight: true
            }
        ]
    +Spray()
    +GreetingWrapper()
        +SeasonGreeting(greeting)
        +Slider({slides: ['../../assets/img/winter/winter_1.jpg', '../../assets/img/winter/winter_2.jpg', '../../assets/img/winter/winter_3.jpg', '../../assets/img/winter/winter_4.jpg', '../../assets/img/winter/winter_5.jpg', '../../assets/img/winter/winter_6.jpg', '../../assets/img/winter/winter_7.jpg', '../../assets/img/winter/winter_8.jpg',]})
    .form-wrapper
        +RequestFormSport()
    +Description({cards, title: "Чем заняться в «Сюгеше» зимой?"})
    +QuickLinks()
    +Results()
