@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.seasonCard {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 620px;
    max-height: 280px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(6px 6px 50px rgba(0, 0, 0, 0.15));

    @include media($mobileBig) {
        border-radius: 18px;
        max-height: 130px;
    }

    &__img {
        max-width: 620px;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        object-fit: cover;

        @include media($mobileBig) {
            border-radius: 18px;
        }
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        border-radius: 40px;
        background: linear-gradient(101.27deg, rgba(0, 83, 64, 0.8) 22.49%, rgba(0, 83, 64, 0) 72.83%);
        opacity: 1;
        transition: opacity 0.4s ease;

        @include media($mobileBig) {
            border-radius: 18px;
        }

        &_isWinter {
            background: linear-gradient(106.76deg, rgba(80, 47, 10, 0.8) 20.09%, rgba(80, 47, 10, 0) 61.08%);
        }

        &-text {
            position: relative;
            margin-top: 50px;
            color: $light;
            font-weight: 700;
            font-size: 40px;
            line-height: 49px;
            text-transform: uppercase;

            &::after {
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 8px;
                background-color: $light;
                border-radius: 40px;
                content: "";
            }

            @include media($mobileBig) {
                margin-top: 24px;
                font-size: 18px;
                line-height: 22px;
            }

            @include media($mobile) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    &__icon {
        text-align: center;

        & img {
            @include media($mobileBig) {
                width: 46px;
                height: 46px;
            }
        }
    }

    &:hover {
        .seasonCard__cover {
            opacity: 0;
        }
    }
}
