mixin SeasonCard({name, img, icon, isWinter = false} = {})
    -
        const isWinterClass = isWinter ? 'seasonCard__cover_isWinter' : ''
    .seasonCard
        img.seasonCard__img(src=img)
        .seasonCard__cover(class=isWinterClass)
            .seasonCard__icon
                img(src=icon)
                div.seasonCard__cover-text=name
