mixin Data()
    .data
        p.data__phone!='Рабочий телефон:  <a href="tel:+73904622111">8 (390) 4622-111</a>'
        .data__inner
            .data__inner-item!='Администратор и отдел бронирования домов: <a href="tel:+79833779577">8-983-377-9577</a>'
            .data__inner-item!='Наш e-mail: <a href="mailto:sugeshbron@gmail.com">sugeshbron@gmail.com</a>'
        p.data__text='Вы можете позвонить по указанным телефонам  с 10:00 до 17:00 в любой день.'
