extends ../../templates/page-template
include ./Promo/Promo
include ../../blocks/Seasons/Seasons
include ./Advantages/Advantages
include ./Description/Description
include ./Map/Map
include ./QnA/QnA

block title
    title Главная

block content
    +Promo()
    -
        const seasons = [
            {name: "зима", img: '../../assets/img/winter.png', link: 'winter.html'},
            {name: "весна", img: '../../assets/img/spring.png', link: 'spring.html'},
            {name: "лето", img: '../../assets/img/summer.png', link: 'summer.html'},
            {name: "осень", img: '../../assets/img/autumn.png', link: 'autumn.html'}
        ]
    +Seasons({seasons})
    +Advantages()
    +Description()
    +Map()
    +QnA()
