extends ../../templates/page-template
include ../../blocks/Seasons/Seasons
include ../../blocks/Results/Results
include ../../blocks/GalleryBlock/GalleryBlock
include ../../blocks/Spray/Spray
include ./Promo/Promo
include ./Advantages/Advantages
include ./Checks/Checks
include ./Responses/Responses
include ./Map/Map
include ./Who/Who
include ./QnA/QnA

block title
    title Главная

block content
    +Spray()
    +Promo()
    -
        const seasons = [
            {name: "зима", img: '../../assets/img/winter.jpg', link: 'winter.html', isWinter: true, icon: '../../assets/img/snowflake.svg'},
            {name: "весна", img: '../../assets/img/spring.jpg', link: 'spring.html', icon: '../../assets/img/flower.svg'},
            {name: "лето", img: '../../assets/img/summer.jpg', link: 'summer.html', icon: '../../assets/img/sun.svg'},
            {name: "осень", img: '../../assets/img/autumn.jpg', link: 'autumn.html', icon: '../../assets/img/leafAutumn.svg'}
        ]
    +Map()
    .index__warning!="Мы рады представить вам наш новый сайт. Он только начал работать, и мы активно продолжаем его дополнять.</br> Возможно, сейчас есть какие-то неточности. Если вы их найдете, просим сообщить нам о них по телефону <a href='tel:+79833779577'>8&#8209;983&#8209;377&#8209;9577</a>. Ведь именно ваше мнение помогает нам стать лучше. Благодарим вас за поддержку и понимание!"
    +Seasons({seasons})
    +Advantages()
    +Checks()
    +Responses()
    +Who()
    +GalleryBlock(images)
    +QnA()
    +Results()
