@import '../../scss/breakpoints';
@import '../../scss/mixins';

.souvenirs {
    &__button {
        max-width: 510px;
        width: 100%;
        margin-inline: auto;
        margin-bottom: 120px;

        @include media($tablet) {
            margin-bottom: 50px;
        }
    }
}
