extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/SPAForm/SPAForm
include ../../blocks/Seasons/Seasons
include ../../blocks/Button/Button
include ./Greeting/Greeting
include ./Price/Price

block title
    title Сувениры

block content
    -
        const seasons = [
            {
                name: "зима",
                img: '../../assets/img/winter.jpg',
                link: 'winter.html',
                isWinter: true,
                icon: '../../assets/img/snowflake.svg'
            },
            {
                name: "весна",
                img: '../../assets/img/spring.jpg',
                link: 'spring.html',
                icon: '../../assets/img/flower.svg'
            },
            {name: "лето", img: '../../assets/img/summer.jpg', link: 'summer.html', icon: '../../assets/img/sun.svg'},
            {
                name: "осень",
                img: '../../assets/img/autumn.jpg',
                link: 'autumn.html',
                icon: '../../assets/img/leafAutumn.svg'
            }
        ]
    +Spray(true)
    +Greeting()
    +SPAForm('Запросить консультацию')
    //+Price()
    +Seasons({seasons})
    +Button({text: 'Забронировать дом', link: 'https://booking.sugesh.ru/'}).souvenirs__button
