include ../../../blocks/SeasonCard/SeasonCard
include ../../../blocks/Button/Button

mixin Seasons({seasons} = {})
    section.seasons#seasons
        h2.seasons__title='ВЫБЕРИТЕ, В КАКОМ СЕЗОНЕ ВЫ ПЛАНИРУЕТЕ ОТДЫХ  В "СЮГЕШ"'
        .seasons__content
            .seasons__cards
                each card in seasons
                    a.seasons__link(href=card.link)
                        +SeasonCard({name: card.name, img: card.img})
            +Button({text: 'ЗАБРОНИРОВАТЬ ДОМ', link: 'mock-me'})
