include ../../../blocks/InfoCard/InfoCard
include ../../../blocks/ButtonLine/ButtonLine

mixin Description()
    section.description
        h2.description__title="ЧЕМ ЗАНЯТЬСЯ В СЮГЕШЕ ЗИМОЙ?"
        -
            const cards = [
                {
                    subtitle: "Прокатитесь на горных лыжах",
                    text: "Для вас оборудован бугельный подъемник на гору 600 метров в длину (кстати, при аренде дома и амуниции, поездки на подъемнике в подарок). Сможете прокатиться на горных лыжах, сноуборде. Вы можете приехать как на один день, так и забронировать дом, чтобы насладиться отдыхом в Хакасии подольше. В скором времени мы запустим вторую гору 1200 метров в длину! Также на территории Сюгеш есть беговые профессиональные лыжные трассы на 2, 3 и 5 км",
                    img: '../../assets/img/infoCardWinter/infoCardWinter1.jpg'
                },
                {
                    buttons: [
                    {
                        text: 'ПОСМОТРЕТЬ ПРАЙС',
                        link: 'mock-me',
                    },
                    {
                        text: 'ЗАБРОНИРОВАТЬ ДОМ',
                        link: 'mock-me'
                    }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Прогуляйтесь по сказочному зимнему лесу Хакасии",
                    text: "Вы сможете пройтись и насладиться зимними пейзажами Хакасии, взяв ароматный горячий кофе в кафе Сюгеша. Можно приехать как на один день, так и забронировать домик, чтобы насладиться природой Хакасии подольше.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter2.jpg',
                    isRight: true
                },
                {
                    buttons: [
                        {
                            text: 'КАК ДОБРАТЬСЯ ДО СЮГЕШ',
                            link: 'mock-me',
                        }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Вкусно покушайте в кафе Сюгеша",
                    text: "Детское меню, горячие напитки и вкусные блюда - все для вашего гастрономического наслаждения. Забудьте о хлопотах, наслаждайтесь отдыхом и закажите вкусные блюда в кафе Сюгеш (при аренде дома завтрак и ужин входят в стоимость проживания)",
                    img: '../../assets/img/infoCardWinter/infoCardWinter3.jpg'
                },
                {
                    subtitle: "Прокатитесь на сноутюбинге: самая длинная трасса Хакасии в 250 метров",
                    text: "Да, с таким развлечением скучать точно не придется!  Не беспокойтесь за безопасность - наши трассы оборудованы по всем техническим правилам. Трасса освещена в темное время суток, имеется подъемник.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter4.jpg',
                    isRight: true
                },
                {
                    subtitle: "Прокатитесь на банане",
                    text: "Лучший способ получить порцию ярких эмоций - прокатиться на банане! Он цепляется к снегоходу и мчится по кругу длиной 5 километров. Одновременно прокатиться могут 9 человек.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter5.jpg'
                },
                {
                    subtitle: "Посетите русскую баньку и Фурако, фитобочку, сходите на массаж",
                    text: "Отдых нужен для полного релакса и Сюгеш его обеспечит. После активного отдыха на зимнем морозце погрейтесь в бане, кедровой фитобочке и посетите расслабляющий массаж. После процедуры вас напоят горячим травяным чаем с медом. Кстати, при аренде дома русская банька и фитобочка входят в стоимость проживания.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter6.jpg',
                    isRight: true
                },
                {
                    buttons: [
                        {
                            text: 'ПОСМОТРЕТЬ ПРАЙС',
                            link: 'mock-me',
                        }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Покатайтесь на коньках по освещенному открытому катку",
                    text: "Коньки, зимняя Хакасия, вечер и стаканчик кофе - звучит романтично, правда?",
                    img: '../../assets/img/infoCardWinter/infoCardWinter7.jpg'
                },
                {
                    subtitle: "Проведите уютный семейный вечер",
                    text: "Ваш теплый и уютный дом будет ждать вас после дневных развлечений. Соберитесь всей семьей, возьмите настольные игры, заварите ароматный чай и уделите время друг другу. Все дома теплые внутри - за это даже не беспокойтесь! Кстати, вы можете взять у администрации любимые настольные игры: монополию, дженгу и другие!",
                    img: '../../assets/img/infoCardWinter/infoCardWinter8.jpg',
                    isRight: true
                },
                {
                    buttons: [
                        {
                            text: 'ПОСМОТРЕТЬ ДОМ ВНУТРИ',
                            link: 'mock-me',
                        },
                        {
                            text: 'ЗАБРОНИРОВАТЬ ДОМ',
                            link: 'mock-me',
                        }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Отдохните после насыщенного дня на природе",
                    text: "Придите в свой домик после насыщенного дня, примите теплую ванну, прилягте на мягкую кровать и посмотрите телевизор перед сном. </br>Клининг в домах производится регулярно. Дома обеспечены всей необходимой бытовой техникой и средствами гигиены."
                }
            ]
        ul.description__cards
            each card in cards
                li.description__cards-item
                    if card.isLine
                        +ButtonLine({buttons: card.buttons})
                    else
                        +InfoCard(card)

