include ../Slider/Slider
include ../Button/Button

mixin Carousel({slides})
    .carousel
        +Slider({slides})
        .carousel__button
            +Button({text: "ЗАБРОНИРОВАТЬ ДОМ", link: 'mock-me'})
