include ../../../blocks/Button/Button

mixin GalleryLinks({links = []} = {})
    .galleryLinks
        ul.galleryLinks__list
            each link, i in links
                li.galleryLinks__item
                    +Button({text: link.title, link: link.link})(data-house=link.number class='js-galleryLinks__button')
