@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.galleryLinks {
    @include commonContainer();

    padding-block-start: 100px;

    @include media($tablet) {
        padding-inline: 20px;
        padding-block-start: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 76px;
        row-gap: 22px;
        justify-content: center;

        @include media($tablet) {
            gap: 20px;
        }
    }

    &__item {
        max-width: 360px;
        width: 100%;

        @include media($tablet) {
            max-width: 220px;
        }

        @include media($mobileBig) {
            max-width: 100%;
        }
    }
}
