@import '../../../scss/colors';

.galleryLinks {
    background-color: $mainColor;
    padding: 32px 112px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 76px;
        row-gap: 22px;
        justify-content: center;
    }

    &__item {
        max-width: 360px;
        width: 100%;
    }
}
