@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.present {
    padding: 40px 100px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media($desktopBig) {
        padding: 40px 80px 0 55px;
    }

    @include media($tablet) {
        padding: 30px 20px 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 120px;

        @include media($desktopBig) {
            gap: 70px;
        }

        @include media($tablet) {
            gap: 20px;
        }
    }

    &__text, &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: $secondColor;
        max-width: 940px;

        @include media($desktopBig) {
            font-size: 42px;
            line-height: 58px;
        }
        @include media($tablet) {
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__img {
        max-width: 262px;

        @include media($tablet) {
            display: none;
        }

        & > img {
            width: 100%;
            display: block;
        }
    }
}
