mixin Present()
    .present
        .present__content
            h2.present__text='Из любого путешествия хочется забрать настоящий “кусочек" воспоминаний с собой.'
            h1.present__title="Что же можно привезти из Хакасии?"
        div.present__img
            img(src="../../assets/img/present.svg")
