@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.scroll {
    overflow: auto;
    padding-bottom: 60px;
    margin-left: 100px;

    @include media($tablet) {
        padding-bottom: 20px;
        margin-left: 20px;
    }

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 17px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $mainColor;
        cursor: grab;
        border-radius: 17px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &__list {
        display: flex;
        gap: 40px;

        &-item {
            height: 300px;

            & > img {
                max-width: 400px;
                border-radius: 40px;
                object-fit: cover;
                height: 100%;

                @include media($tablet) {
                    max-width: 280px;
                }
            }
        }
    }
}
