mixin Scroll({images = [], title = ""} = {})
    .scroll
        .scroll__title=title
        ul.scroll__list
            each img in images
                li.scroll__list-item
                    img(src=img)
