extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/Button/Button
include ./Cost/Cost

block title
    title Прайс

block content
    +Spray(true)
    .price-page
        +Button({text: "Прайс на проживание в домах", link: 'https://booking.sugesh.ru/'})
        +Cost({title: "Дополнительные услуги", img: "../../assets/img/price/02-summerPrice.png"})
        +Cost({title: "", img: "../../assets/img/price/01-winterPrice.png"})
