@import '../../scss/mixins';
@import '../../scss/breakpoints';

.price {
    padding-block: 30px 70px;

    & > .buttonLine {
        padding-block: 18px;
    }

    &__inner {
        margin-top: 80px;
        padding-inline: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media($tablet) {
            padding-inline: 20px;
            margin-top: 30px;
            gap: 20px;
        }
    }
}
