@import '../../scss/mixins';
@import '../../scss/breakpoints';

.price-page {
    @include commonContainer();

    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-block: 160px 50px;
    padding-inline: 20px;

    @include media($tablet) {
        padding-block-start: 50px;
        gap: 30px;
    }

    &__inner {
        margin-top: 80px;
        padding-inline: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media($tablet) {
            padding-inline: 20px;
            margin-top: 30px;
            gap: 20px;
        }
    }
}
