@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.line {
    display: flex;

    @include media($tablet) {
        gap: 15px;
    }

    &__imgs {
        width: 120px;
        flex-shrink: 0;

        @include media($tablet) {
            display: none;
        }
    }

    &__separator {
        flex-shrink: 0;
        width: 6px;
        height: 170px;
        border-radius: 6px;
        background-color: $sand;
        margin-inline: 30px 50px;

        @include media($tablet) {
            margin-inline: 0 10px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: $dark;
        max-width: 900px;

        @include media($tablet) {
            font-size: 16px;
        }
    }
}
