extends ../../templates/page-template
include ../../blocks/Carousel/Carousel
include ./Description/Description

block title
    title Весна

block content
    +Carousel({slides: ['../../assets/img/spring/spring1.jpg', '../../assets/img/spring/spring2.jpg', '../../assets/img/spring/spring3.jpg', '../../assets/img/spring/spring4.jpg', '../../assets/img/spring/spring5.jpg']})
    p.spring__text!="Многие отказываются от путешествий весной думая, что будет нечем заняться: слякоть, сырость, переменчивая погода. Но все это предрассудки!</br></br> Мы оборудовали Сюгеш так, чтобы наши гости могли приехать к нам в любое время года и насладиться отдыхом в Хакасии."
    +Description()
    a(href="https://vk.com/sugesh" target="_blank" rel="noopener noreferrer").spring__link
        img(src="../../assets/img/sugeshVK.svg")
