include ../../../blocks/Button/Button

mixin Map()
    section.map
        .map__inner
            h3.map__title Карта курорта
            .map__wrapper
                img.map__img(src="../../assets/img/map.png")
