include ../../../blocks/Button/Button

mixin Map()
    .map
        .map__inner
            .map__button-wrapper
                +Button({text: "ЗАБРОНИРОВАТЬ ДОМ", link: "mock-me"})
            .map__wrapper
                img.map__img(src="../../assets/img/map.png")
