extends ../../templates/page-template
include ../../blocks/Spray/Spray
include ../../blocks/GreetingWrapper/GreetingWrapper
include ../../blocks/SeasonGreeting/SeasonGreeting
include ../../blocks/Results/Results
include ../../blocks/Slider/Slider

block title
    title Наша миссия

block content
    -
        const greeting = {
            text: 'Для нас важно, чтобы каждый взрослый и каждый даже самый маленький гость активно отдохнул, испытал массу положительных впечатлений и зарядился отличным настроением!',
            buttonText: 'Забронировать домик',
            link: 'https://booking.sugesh.ru/',
            iconText: 'НАША МИССИЯ',
            icon: '../../assets/img/mission-brown.svg'
        }
    +Spray(true)
    +GreetingWrapper()
        +SeasonGreeting(greeting)
        +Slider({slides: ['../../assets/img/other/house.jpg', '../../assets/img/other/inventory.jpg', '../../assets/img/other/bath.jpg']})
    +Results()
