$mainColor: #67A65F;
$secondColor: #7889F1;
$light: #ffffff;
$warn: #FA5F29;
$warn50: rgba(250, 95, 41, 0.5);
$sand: #E7B96E;
$dark: #000000;
$dark65: rgba(0, 0, 0, 0.65);
$dark50: rgba(0, 0, 0, 0.5);
$infoCardTitle: #A87D37;
$closeColor: #D9D9D9;
$newYearText: #EF3434;
$gold: #D6A350;
