include ../../../blocks/InfoCard/InfoCard

mixin Description()
    section.description
        h2.description__title="КОМУ ПОДОЙДЕТ СЮГЕШ?"
        -
            const cards = [
                {
                    title: "Активный отдых на природе",
                    text: "- Вы можете посетить Сюгеш, не арендуя жилье и целый день уделить активному отдыху по сезону: катанию на лыжах, купанию в бассейне, бане, пешим прогулкам и многому другому. Занимайтесь спортом на свежем воздухе! Что может быть прекраснее?",
                    img: '../../assets/img/infoCard/infoCard1.png',
                    isLanding: true
                }, {
                    title: "Комфортный отдых на природе",
                    text: "- В любой сезон года вы можете посетить Сюгеш: пешие прогулки на свежем воздухе с прекрасными видами на природу Хакасии, общение с животными на территории Сюгеш, вечерние посиделки у камина, рассвет в горах и многое другое. Окунитесь в атмосферу Сибири - обретите вдохновение в месте природной силы.",
                    img: '../../assets/img/infoCard/infoCard2.png',
                    isRight: true,
                    isLanding: true
                },
                {
                    title: "Путешествие с детьми",
                    text: "- Детское меню в кафе, игровые площадки, чистота - все для безопасного и комфортного отдыха с детьми (даже с самыми маленькими).Вашим детям точно не придется скучать. В любой сезон года для них найдется развлечение. Подарите детям яркие эмоции - пусть они наслаждаются каждым днем!",
                    img: '../../assets/img/infoCard/infoCard3.png',
                    isLanding: true
                },
                {
                    title: "Хотите провести время с семьей и насладиться совместным отдыхом",
                    text: "- Комфортные коттеджи, уютные семейные вечера за разговорами или настольными играми, развлечения на каждый сезон - летний бассейн, зимние развлечения, русская банька и многое другое. Подарите семье приятные эмоции и проявите свою любовь, организовав совместный отдых в Сюгеш!",
                    img: '../../assets/img/infoCard/infoCard4.png',
                    isRight: true,
                    isLanding: true
                },
                {
                    title: "Отдых компанией друзей",
                    text: "- Давно не собирались вместе? Всегда есть повод встретиться дружной компанией за общим столом! Комфортные коттеджи вместительностью от 2 до 24 человек, беседки для вечерних посиделок, мангал для ароматного шашлыка на ужин, прогулки в окружении природы Хакасии и развлечения по сезону (летний бассейн, русская банька, катание на горных лыжах и многое другое) - все это ждет в Сюгеше.",
                    img: '../../assets/img/infoCard/infoCard5.png',
                    isLanding: true
                },
            ]
        ul.description__cards
            each card in cards
                li.description__cards-item
                    +InfoCard(card)

