mixin NewYear()
    .newYear
        .newYear__inner
            a(href="mock-me" target="_blank" rel="noopener noreferrer").newYear__link
                img(src="../../assets/img/sugeshVK.svg")
            h2.newYear__title="НОВЫЙ ГОД В СЮГЕШЕ"
            .newYear__question
                span.newYear__question-text="Решили отметить Новый Год семьей в Сюгеше?"
        .newYear__info
            .newYear__info-inner
                p.newYear__info-text!="Это отличный выбор! 31 декабря к нам приезжают самые настоящие Дед Мороз и Снегурочка, чтобы поздравить гостей Сюгеша с праздником.</br></br>С 31 декабря на 1 января проводится яркая и веселая вечеринка.</br></br>В дни крещения приезжает батюшка и оборудуется купель в форме креста. Можно приехать в Сюгеш на омовение"
                
