@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.header {
    position: relative;
    z-index: 1;
    height: 112px;
    padding: 20px 40px;
    background-color: $mainColor;

    @include media($desktop) {
        display: flex;
        gap: 48px;
    }

    @include media($tablet) {
        padding: 8px 20px;
        height: 84px;
    }

    &__container {
        @include commonContainer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-menu {
        display: flex;
        gap: 20px;

        @include media($desktop) {
            display: none;
        }

        &-item {
            &-link {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: $light;
                position: relative;

                &::after, &::before {
                    content: "";
                    opacity: 0;
                    width: 100%;
                    left: 0;
                    position: absolute;
                    transition: opacity 0.4s ease;
                    background-color: $light;
                    bottom: -2px;
                }

                &::after {
                    height: 1px;
                }

                &::before {
                    height: 3px;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                &:active {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__logo {
        max-width: 160px;
    }

    &__phone {
        position: relative;
        padding: 12px 12px 12px 40px;
        border: 3px solid $light;
        border-radius: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $light;

        &::before {
            position: absolute;
            left: 15px;
            content: url("../../assets/img/phone.svg");
        }

        @include media($mobileBig) {
            display: none;
        }
    }
}
