include ../Burger/Burger
include ../SubHeader/SubHeader

mixin Header({menu=[]} = {})
    -
        const headerMenu = menu.slice(0, 4);
        const subHeaderMenu = menu.slice(4)
    header.header.js-header
        .header__container
            a.header__logo-link(href="index.html")
                img.header__logo(src='../../assets/img/logo.svg')
            nav.header__nav
                ul.header__nav-menu
                    each option in headerMenu
                        li.header__nav-menu-item
                            a(href=option.href).header__nav-menu-item-link= option.text
            a(href="tel:+73902313506").header__phone="+73902313506"
        +SubHeader(subHeaderMenu)
        +Burger({menu})

