mixin Checks()
    -
        const items = [
            "Первый <strong>детский горнолыжный курорт</strong> в России",
            "<strong>Качественное и натуральное питание</strong> только из натуральных продуктов",
            "<strong>Идеальные трассы</strong> для начинающих и детей",
            "Открытость и <strong>честность во всём</strong>",
            "<strong>Профессиональные инструкторы</strong>",
            "<strong>Традиционные бани и сауны</strong>",
            "<strong>Остров заботы и гостеприимства</strong> для каждого посетителя",
            "Креативная и <strong>заботливая команда</strong>"
        ]
    ul.checks
        each item in items
            li.checks__check!=item
