@import '../../../scss/colors';
@import '../../../scss/breakpoints';
@import '../../../scss/mixins';

.checks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    row-gap: 50px;
    justify-content: space-between;
    max-width: 1250px;
    margin-inline: auto;
    padding: 130px 20px;

    @include media($desktopBig) {
        justify-content: center;
        padding-block: 60px;
    }

    &__check {
        position: relative;
        width: 100%;
        max-width: 550px;
        padding-left: 110px;
        font-size: 24px;
        line-height: 29px;
        color: $sogesh;

        @include media($mobileBig) {
            padding-left: 90px;
            font-size: 16px;
            line-height: 20px;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: url("../../../assets/img/check.png");
        }
    }
}
