include ../../../blocks/InfoCard/InfoCard
include ../../../blocks/ButtonLine/ButtonLine

mixin Description()
    section.description
        h2.description__title="ЧЕМ ЗАНЯТЬСЯ В СЮГЕШЕ ВЕСНОЙ?"
        -
            const cards = [
                {
                    subtitle: "Вдохновляющие пешие прогулки, любуясь природой Хакасии или тренировки на свежем воздухе.",
                    text: "На территории базы отдыха регулярно проводится уборка, поэтому вы сможете насладиться прогулкой по чистым пешим дорожкам. Прогулки или занятия спортом на свежем весеннем воздухе - лучший подарок для организма после холодной зимы.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter1.jpg'
                },
                {
                    buttons: [
                    {
                        text: 'ЗАБРОНИРОВАТЬ ДОМ',
                        link: 'mock-me'
                    }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Попробуйте прогулки по реке",
                    text: "Прокатитесь на моторной или аэролодке по реке, и насладитесь пейзажами Хакасии с другого ракурса. Вдохните свежий речной воздух, перемешанный с влагой от реки и насладитесь прекрасным отдыхом! Подробности уточняйте у администратора.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter2.jpg',
                    isRight: true
                },
                {
                    buttons: [
                        {
                            text: 'ПОСМОТРЕТЬ ПРАЙС',
                            link: 'mock-me',
                        }
                    ],
                    isLine: true
                },
                {
                    subtitle: "Расслабьтесь в русской баньке, кедровой фитобочке и насладитесь массажем",
                    text: "Телу нужно расслабляться. Поставьте динамичную жизнь на паузу, приезжайте в Сюгеш и после насыщенного дня посетите баньку или кедровую фитобочку, а после - расслабляющий массаж. После процедуры вас напоят вкусным горячим травяным чаем с медом.",
                    img: '../../assets/img/infoCardWinter/infoCardWinter3.jpg'
                },
                {
                    subtitle: 'Вкусно покушайте в кафе "Сюгеш"',
                    text: "Детское меню, горячие напитки и вкусные блюда - все для вашего гастрономического наслаждения. Забудьте о хлопотах, наслаждайтесь отдыхом и закажите вкусные блюда в кафе Сюгеш (при аренде дома завтрак и ужин входят в стоимость проживания)",
                    img: '../../assets/img/infoCardWinter/infoCardWinter4.jpg',
                    isRight: true
                }
            ]
        ul.description__cards
            each card in cards
                li.description__cards-item
                    if card.isLine
                        +ButtonLine({buttons: card.buttons})
                    else
                        +InfoCard(card)
