@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.infoCard {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    max-height: 280px;
    margin: 0 auto;
    background-color: $light;
    border-radius: 40px;
    box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.15);

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 620px;
        width: 100%;
        height: 100%;
        background: linear-gradient(101.27deg, rgba(0, 83, 64, 0.8) 41.96%, rgba(0, 83, 64, 0) 72.83%);
        border-radius: 40px;
        filter: drop-shadow(6px 6px 50px rgba(0, 0, 0, 0.15));
        content: "";
    }

    &__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: calc(50% + 30px + 20px);
        transform: translateY(-50%);
        max-width: 320px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $light;

        &::after {
            position: absolute;
            left: 0;
            bottom: -18px;
            height: 8px;
            width: 100%;
            background: $light;
            border-radius: 40px;
            content: "";
        }
    }

    &__subtitle {
        margin-top: 10px;
        font-size: 18px;
        line-height: 22px;

        @include media($tablet) {
            margin-top: 4px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        max-width: 590px;
        width: 100%;
        padding-inline-start: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $sogesh;

        @include media($tablet) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__img {
        position: relative;
        max-width: 620px;
        width: 100%;
        border-radius: 40px;

        @include media($desktopLarge) {
            max-height: 260px;
        }

        @include media($tablet) {
            display: none;
        }
    }

    &_direction_right {
        flex-direction: row-reverse;

        &::after {
            left: 0;
            right: unset;
        }

        .infoCard__title {
            left: 30px;
            right: unset;
            transform: translateY(-50%);
        }

        .infoCard__wrapper {
            padding-inline-start: 0;
            padding-inline-end: 30px;
        }
    }

    &_cover_other {
        &::after {
            background: linear-gradient(286.76deg, rgba(80, 47, 10, 0.8) 20.09%, rgba(80, 47, 10, 0) 61.08%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }

    @include media($desktopLarge) {
        flex-direction: column-reverse;
        width: fit-content;
        max-height: initial;

        &::after {
            height: 260px;
        }

        &__wrapper {
           padding: 20px !important;
        }

        &__title {
            top: calc(260px / 2);
            left: 30px;
            right: unset;
            transform: translateY(-50%);
        }
    }

    @include media($tablet) {
        padding-block-start: 150px;

        &::after {
            height: 150px;
            background-color: #005340CC;
        }

        &_cover_other {
            &::after {
                background-color: #502F0ACC;
            }
        }

        &__title {
            top: calc(140px / 2);
            width: 90%;
            font-size: 20px;
            line-height: 23px;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }
}
