@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.infoCard {
    width: 100%;
    background-color: $secondColor;
    position: relative;
    padding-left: 123px;
    margin-block: 55px;
    padding-block: 10px;

    &__title {
        left: 123px;
        position: absolute;
        font-weight: 500;
        font-size: 40px;
        line-height: 51px;
        color: $infoCardTitle;
        top: -52px;

        @include media($tablet) {
            font-size: 30px;
            line-height: 24px;
            left: 20px;
            top: 0;
            position: static;
            color: $light;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        max-width: 700px;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $light;
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: $light;
        max-width: 568px;

        @include media($tablet) {
            font-size: 22px;
            line-height: 24px;
        }
    }

    &__img {
        right: 55px;
        top: 50%;
        position: absolute;
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.33));
        transform: translateY(-50%);
        border-radius: 20px;

        @include media($desktopLarge) {
            display: none;
        }
    }

    &_direction_right {
        display: flex;
        justify-content: flex-end;
        padding-right: 123px;
        flex-direction: column;
        align-items: flex-end;

        @include media($tablet) {
            display: block;
            padding-right: 20px;
        }

        .infoCard__wrapper {
            order: 2;
        }

        .infoCard__img {
            left: 123px;
            order: 1;
            top: 0;
            transform: none;
            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
        }
    }

    &_textSize_small {
        .infoCard__text {
            margin-top: 10px;
            font-size: 20px;
            line-height: 22px;
        }

        .infoCard__img {
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
        }
    }

    &_textPosition_center {
        margin-block: 0;
        padding-inline: 20px;

        & > div {
            text-align: center;
        }

        & .infoCard__text {
            margin-inline: auto;
            max-width: 700px;
        }
    }

    &_textLength_medium {
        .infoCard__text {
            max-width: 700px;
        }

        .infoCard__img {
            right: 110px;
        }

        &.infoCard_direction_right {
            .infoCard__img {
                left: 110px;
            }
        }

    }

    &_imgFlat {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-right: 123px;

        .infoCard__img {
            position: static;
            filter: none;
            box-shadow: none;
            transform: none;
        }
    }

    &_subtitleSize {
        &_big {
            .infoCard__subtitle {
                font-weight: 500;
                font-size: 39px;
                line-height: 49px;

                @include media($tablet) {
                    font-size: 28px;
                    line-height: unset;
                }
            }
        }
    }

    @include media($tablet) {
        margin-block: 0;
        padding-inline: 20px;
    }
}
