include ../SeasonCard/SeasonCard
include ../Button/Button

mixin Seasons({seasons} = {})
    section.seasons#seasons
        h2.seasons__title='В каком сезоне вы планируете отдых в «Сюгеш»?'
        .seasons__cards
            each card in seasons
                a.seasons__link(href=card.link)
                    +SeasonCard({name: card.name, img: card.img, icon: card.icon, isWinter: card.isWinter})
