@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.seasons {
    padding: 0 52px 120px;

    @include media($tablet) {
        padding-inline: 16px;
        padding-bottom: 220px;
    }

    @include media($mobileBig) {
        padding-bottom: 60px;
    }

    &__title {
        margin: 0 auto 100px;
        max-width: 830px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: $sogesh;

        @include media($tablet) {
            margin-bottom: 60px;
            font-size: 32px;
            line-height: 39px;
        }

        @include media($mobile) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        @include media($mobile) {
            gap: 30px;
        }
    }

    &__link {
        display: block;
    }
}
