mixin Schedule()
    .schedule
        div
            img.schedule__img(src='../../assets/img/clock.svg')
        .schedule__content
            h2.schedule__title="График работы"
            .schedule__inner
                p="Воскресенье - четверг: с 9:00 до 20:00"
                p="Пятница, суббота: с 9:00 до 22:00"
                p="Завтраки: 9:00 - 11:00"
