@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/breakpoints';

.schedule {
    display: flex;
    gap: 170px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @include media($desktopBig) {
        gap: 70px;
    }

    @include media($tablet) {
        gap: 0;
        text-align: center;
        margin-top: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media($tablet) {
            gap: 20px;
        }
    }

    &__img {
        width: 100%;

        @include media($tablet) {
            display: none;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 60px;
        line-height: 77px;
        color: $secondColor;

        @include media($desktopBig) {
            font-size: 50px;
            line-height: 67px;
        }
        @include media($tablet) {
            font-size: 26px;
            line-height: unset;
        }
    }

    &__inner {
        font-weight: 600;
        font-size: 40px;
        line-height: 51px;
        color: $secondColor;

        @include media($tablet) {
            font-size: 20px;
            line-height: unset;
        }
    }
}
